.DSCS_NV{
    height: 100%;
    width: 60%;
    position: relative;
    .Select{
        position: absolute;
        width: 15%;
        right: -20%;
        top: 15%;
    }
    .DSCS_NV_DS{
        font-family: 'Anton', sans-serif;
        color: #176B87;
        height: 15%;
        font-size: 120%;
        display: flex;
        align-items: center;
    
    }
    .DSCS_NV_DSCS{
        height: 80%;
        width: 100%;
        background-color: #64CCC5;
        border-radius: 20px;
        .DSCS_NV_DSCS_LookUp{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 10%;
            position: relative;
            .DSCS_NV_DSCS_LookUp_Input{
                width: 94%;
                padding-left: 5%;
                height: 85%;
                border: none;
                border-top-left-radius:19px;
                border-top-right-radius: 19px;
                font-family: 'Archivo Narrow', sans-serif;
                &:focus{
                    outline: none;
                  }
            }
            .DSCS_NV_DSCS_LookUp_Icon{
                position: absolute;
                background-color: #176B87;
                height: 93%;
                border-top-right-radius: 20px;
                width: 7%;
                right: 0.2%;
                cursor: pointer;
            }
            
        }
        .DSCS_NVDSCS_DS{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            overflow-y: scroll;
         
            .DSCS_NV_ChiTiet{
                min-height: 30%;
                width: 90%;
                background-color: white;
                margin-bottom: 5%;
                margin-top: 5%;
                border-radius: 20px;
                padding-left: 3%;
                position: relative;
                .DSCS_NV_ChiTiet_Ten{
                    height: 50%;
                    width: 100%;
                    display: flex;
                    
                    align-items: center;
                    font-family: 'Archivo Narrow', sans-serif;
                    color: #000000;
                }
                .DSCS_NV_ChiTiet_Des{
                    height: 50%;
                    width: 100%;
                    font-family: 'Archivo Narrow', sans-serif;
                    color: #918A8A;
                }
                .DSCS_NV_ChiTiet_ChinhSua{
                    position: absolute;
                    right: 5%;
                    top:15%;
                    color: black;
                    width: 100px;
                    height: 30%;
                    background-color: #F4BB64;
                   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    cursor: pointer;
                    font-family: 'Archivo Narrow', sans-serif;
                    &:hover{
                        background-color: #fac779;
                    }
                }.DSCS_NV_ChiTiet_Xoa{
                    position: absolute;
                    right: 5%;
                    bottom:15%;
                    color: black;
                    width: 100px;
                    height: 30%;
                    background-color: red;
                   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    cursor: pointer;
                    font-family: 'Archivo Narrow', sans-serif;
                    &:hover{
                        background-color: rgb(249, 107, 107);
                    }
                }
               
                
            }
        }
    }
}